<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>IPROSI 2021 -</span>

    <span>&nbsp; Projet mémoire Fin d'étude LICENCE 3 - &nbsp;by Mouhamad DIACK </span>


    <!-- <span class="flex-middle"></span>

    <mat-icon>person</mat-icon>
    <span class="me-4">
        Personnels
    </span>

    <mat-icon>payments</mat-icon>
    <span class="me-4">
        Payement
    </span>

    <mat-icon>payments</mat-icon>
    <span>
        Decaissement
    </span>

    <span class="flex-end"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button> -->
</mat-toolbar>
